<section>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="name">
      Name:
    </label>
    <input id="name" type="text" formControlName="name" />
    <button>Get description</button>
  </form>
  <textarea rows="10" *ngIf="result.isReady" #txtConfigFile>
    {{result.code}} - артикул
    {{result.width}} м - ширина отреза
    {{result.length}} м - длина отреза 
    {{result.cost}} грн./м - цена одного метра погонного
    {{result.total}} грн. - цена за весь отрез
  </textarea>
  <button (click)="copyToCB()">Copy result</button>
</section>  

